/* styles.css normalmente se usa para definir estilos globales de root*/

* {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(234, 234, 234);
  }
  
  body {
    padding: 60px;
  }
  
  input {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(97, 32, 158);
    color: black;
    font-size: 1.2rem;
    outline: none;
    padding: 10px 15px;
    width: 100%;
    margin-bottom: 15px;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 3rem;
    margin-bottom: 5px;
  }
  
  
  .card img {
    width: 100%;
  }

  button{
      width: 100px;
      padding: 7px 0;
      background-color: green;
      color: white;
      border-radius: 5px;
      border: none;
      box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  }

  button:hover{
    background-color: rgb(0, 188, 0);
  }

  img{
   width: 300px;
   height: auto
  }

  .gifsContainer {
    display: flex;
    flex-wrap: wrap;
 
  }
/*mis estilos*/
  .container {
    display: flex;
    flex-direction: column;
  }

  .gifGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    align-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    height: 0%;  
    margin: 0 0.5%;
    justify-content: center;
    overflow: hidden;
    width: 48%;
  }

  h4 {
    font-size: 1.5em;
  }
  

  .card p {
    color: teal;
    background-color: white;
    flex: 1;
    font-size: 1.4rem;
    margin-top: 5px;
    padding: 5px 20px 0px 20px;
    text-align: center;

  }